# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging / zips
bin/
build/
dist/
*.egg-info/
*.zip

# Virtual Environment
venv/
ENV/
env/

# Data and Artifacts (large folders & dataset)
archive/
output/preprocessed/
output/*.pth
artifacts/

# Editors and IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific
.DS_Store
Thumbs.db
._*
